@{
    Layout = ("_Layout");
}
@using PhanMemHeCan.Models.User.ViewModels

<div class="main">
    <div class="fuction">
        <div class="row ">
            <div class="col-4 n01 ">
                <!-- <p class="text-center btn-primary btn-add"><a href="ThemNhanVien.html" class="text-white">Thêm mới</a></p> -->
                <!-- Button  modal -->
                <button type="button" class="btn btn-primary" id="btn_Them" style="font-size: 20px; width: 120px; height: 50px; ">
                    Thêm mới
                </button>

            </div>
            <div class="col-4"></div>
            <div class="col-4  d-flex justify-content-end">
                <form class="TimKiem" action="#">
                    <input type="text" placeholder="Nhập thông tin tìm kiếm" class="input_tk">
                    <a href="#" class="iconTK"><i class="bi bi-search"></i></a>
                </form>
            </div>
        </div>
    </div>

    <div class="Table_User">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID_NhanVien</th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Tên đăng nhập</th>
                    <th scope="col">Mật khẩu</th>
                    <th scope="col">Tên nhóm quyền</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (UserHasNameGroupViewModel item in ViewBag.Users)
                {
                    <tr data-id="@item.UserID">
                        <th scope="row">@item.UserID</th>
                        <td>@item.FullName</td>
                        <td>@item.Username</td>
                        <td>@item.Password</td>
                        <td>@item.GroupName</td>
                        <td>
                            <!-- <p class="text-center btn-success "><a href="" class="text-white"><i class="bi bi-pencil-square" ></i></a></p> -->
                            <button type="button" class="btn btn-primary" data-id="@item.UserID" id="btn_Sua" style=" width: 40px; height: 40px; margin: 5px;">
                                <i class="bi bi-pencil-square"></i>
                            </button>


                            <!-- <p class="text-center btn-danger "><a href="" class="text-white"><i class="bi bi-person-x" ></i></a></p> -->
                            <button type="button" class="btn btn-primary" data-id="@item.UserID" id="btn_Xoa" style=" width: 40px; height: 40px;">
                                <i class="bi bi-person-x"></i>
                            </button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- <div class="page">
        <div class="row r_page">
            <div class="d-grid gap-2 d-md-block col"></div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end col-3">
                <button class="btn btn-primary me-md-2 bt01" type="button">Trước</button>
                <select class="form-select bt01"  >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                <button class="btn btn-primary bt01" type="button">Sau</button>
            </div>
        </div>
    </div> -->


</div>
<!-- Modal thêm-->
<div class="modal" id="ModalThem">
    <div class="modal_content">
        <!-- header -->
        <span class="close">&times;</span>
        <h4 style="text-align:center;" class="fw-bold">Thêm mới nhân viên</h4>

        <!-- body -->
        <form action="" method="post">
            <div class="mb-3">
                <label for="FullName" class="form-label">Họ và tên</label>
                <input type="text" class="form-control" id="FullName" name="FullName">
            </div>
            <div class="mb-3">
                <label for="UserName" class="form-label">Tên đăng nhập</label>
                <input type="text" class="form-control" id="UserName" name="UserName">
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Mật khẩu</label>
                <input type="password" class="form-control" id="Password" name="Password">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Tên nhóm quyền</label>
                <input type="text" class="form-control" id="" name="">
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary btn-lg">Lưu</button>
            </div>
            <!-- <button type="button" class="btn btn-primary"> <a href="QuanLyNhanVien.html" class="text-white ">Quay lại</a></button> -->
        </form>
    </div>
</div>
<!-- end col -->
<!-- modal sua -->
<div class="modal" id="ModalSua">
    <div class="modal_content">
        <!-- header -->
        <span class="closeS">&times;</span>
        <h4 style="text-align:center;" class="fw-bold">Sửa nhân viên</h4>

        <!-- body -->
        <form action="" method="post">
            <div class="mb-3">
                <label for="FullName" class="form-label">Họ và tên</label>
                <input type="text" class="form-control" id="FullName" name="FullName">
            </div>
            <div class="mb-3">
                <label for="UserName" class="form-label">Tên đăng nhập</label>
                <input type="text" class="form-control" id="UserName" name="UserName">
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Mật khẩu</label>
                <input type="password" class="form-control" id="Password" name="Password">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Tên nhóm quyền</label>
                <input type="text" class="form-control" id="" name="">
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary btn-lg">Lưu</button>
            </div>
        </form>

    </div>
</div>
<!-- modal xóa -->
<div class="modal" id="Xoa">
    <div class="modal_content">
        <!-- header -->
        <span class="closeX">&times;</span>
        <!-- <h5 class="fw-bold">Thông báo</h5> -->
        <!-- body -->
        <p class="fw-bold" style="text-align:center">Bạn chắc chắn muốn xóa ?</p>
        <!-- footer -->
        <div class="d-grid col-3 mx-auto">
            <button type="button" class="btn btn-primary">Có</button>
        </div>
        <!-- <button type="button" class="btn btn-secondary "  id="khong">Không</button> -->
    </div>
</div>
<!-- end modal -->